@import "https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,700&display=swap";

$color-primary-light: #053b50;
$color-secondary-light: #176b87;
$color-bg-primary-light: #eeeeee;
$color-bg-secondary-light: #64ccc5;

$color-primary-dark: #a5d7e8;
$color-secondary-dark: #576cbc;
$color-bg-primary-dark: #0b2447;
$color-bg-secondary-dark: #19376d;

#dark {
  background-color: $color-bg-primary-dark;
  color: $color-primary-dark;

  button {
    cursor: pointer;
    color: $color-primary-dark;
    border: 1px solid $color-primary-dark;
    background-color: $color-bg-primary-dark;
  }

  button:hover {
    color: $color-bg-primary-dark;
    border: 1px solid $color-primary-dark;
    background-color: $color-primary-dark;
    transition: all 300ms ease-in-out;
  }

  .card {
    box-shadow: $color-bg-primary-dark 0px 3px 8px;
    padding: 10px;
    border-radius: 5px;
  }

  .flex {
    display: flex;
  }

  .icon {
    color: $color-primary-dark;
    height: 20px;
  }

  .MainNav {
  }
}

#light {
  background-color: $color-bg-primary-light;
  color: $color-primary-light;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 1px;

  button {
    cursor: pointer;
    color: $color-primary-light;
    border: 1px solid $color-primary-light;
    background-color: $color-bg-primary-light;
    padding: 8px 15px;
    border-radius: 2px;
  }

  button:hover {
    color: $color-bg-primary-light;
    border: 1px solid $color-primary-light;
    background-color: $color-primary-light;
    transition: all 300ms ease-in-out;
  }

  .inline-btn {
    border: none;
    outline: none;
    padding: 0;
    background-color: transparent;
    color: $color-primary-light;
    margin: 0 5px;

    &:hover {
      text-decoration: underline;
      background-color: transparent;
      padding: 0;
      border: none;
      outline: none;
      color: $color-secondary-light;
      text-decoration-color: $color-primary-light;
    }
  }

  .card {
    box-shadow: $color-bg-primary-light 0px 3px 8px;
    padding: 10px;
    border-radius: 5px;
  }

  .flex {
    display: flex;
  }

  .icon {
    color: $color-bg-primary-light;
    // color: #053b50;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;

    &:hover {
      color: $color-bg-secondary-light;
    }
  }

  .icon-menu {
    border-radius: 50%;
    padding: 5px;
  }

  input {
    height: 25px;
    padding: 3px 5px;
    border: 1px solid silver;
    border-radius: 5px;
    width: 300px;
  }

  .MainNav {
    height: 30px;
    padding: 5px 5px;
    background-color: $color-secondary-light;
    border-radius: 10px;
    display: flex;
    position: fixed;
    bottom: 10px;
    left: 10px;
    align-items: center;

    .sub-menu-hidden {
      width: 0px;
      overflow-x: hidden;
      transition: all 100ms ease;

      .icon {
        font-size: 0px;
      }
    }

    .sub-menu-show {
      width: auto;
      display: flex;
      gap: 10px;
      align-items: center;
      transition: all 200ms linear;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: top;
    align-items: left;
    padding: 10px;
  }

  .card {
    min-height: 100px;
    min-width: 400px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
    padding: 10px;
  }
  .loader-background {
    background-color: rgba(66, 66, 66, 0.288);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    p {
      color: $color-bg-primary-light;
      font-size: 30px;
    }
  }

  .Modal {
    background-color: rgba(66, 66, 66, 0.288);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 30px;

    .Modal-Sub {
      background-color: $color-bg-primary-light;
      min-height: 20vh;
      min-width: 50vw;
      position: relative;
      display: flex;
      flex-direction: column;

      .modal-cross {
        position: absolute;
        top: 10px;
        right: 10px;
        color: $color-primary-light;
        cursor: pointer;
        font-size: 20px;
      }

      .Modal-content {
        padding: 50px 20px 20px 20px;
        overflow: auto;
        flex-grow: 1;
      }

      .Modal-btn {
        padding: 20px;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
      }

      .cross {
        right: 5px;
        top: 5px;
      }
    }
  }
}
