$color-primary-light: #053b50;
$color-secondary-light: #176b87;
$color-bg-primary-light: #eeeeee;
$color-bg-secondary-light: #64ccc5;

$color-primary-dark: #a5d7e8;
$color-secondary-dark: #576cbc;
$color-bg-primary-dark: #0b2447;
$color-bg-secondary-dark: #19376d;

.Cards {
  .Cards-card {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 0px 8px;
    padding: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: grab;

    &:hover {
      .icon-div {
        visibility: visible;
      }
    }

    .icon-div {
      right: 2px;
      top: 2px;
      display: flex;
      gap: 2px;
      visibility: hidden;
      position: absolute;

      .icon {
        font-size: 12px !important;
        color: $color-primary-light !important;
        display: block;
        cursor: pointer;
      }
      .pencil-icon {
        display: none;
      }
    }

    &:hover {
      box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

      .pencil-icon {
        display: block;
      }
    }

    p,
    h5 {
      margin: 0%;
    }
    h5 {
      margin-top: 3px;
    }

    .card-content,
    .card-header {
      display: flex;
      // justify-content: space-between;
      gap: 5px;
    }

    .card-header {
      display: flex;
      justify-content: left;

      .badges-container {
        flex-wrap: wrap;
        div {
          border-radius: 3px;
        }
      }
    }
  }
}

.Card-container {
  .Modal-Sub {
    width: 500px;
  }

  .Card {
    .card-header {
      display: flex;
      gap: 10px;

      h1,
      h2 {
        margin: 0;
      }

      h1 {
        cursor: text;
      }

      h2 {
        margin-top: 5px;
      }
    }

    .dark-icon {
      top: 5px;
      right: 5px;
    }
    .card-body {
      .card-badges {
        min-height: 30px;
        margin: 20px 0;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        position: relative;

        .card-badge {
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          width: 150px;
          padding: 5px 12px;
          border-radius: 5px;
          cursor: pointer;
        }
      }

      .badge-color {
        height: 30px;
        width: 70px;
      }
      .card-badges-dropdown {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 10px;
        position: absolute;
        top: 30px;
        overflow: visible;
        border-radius: 5px;
        z-index: 9;
        background-color: $color-bg-primary-light;
        display: flex;
        flex-direction: column;
        gap: 5px;
        max-height: 200px;
        overflow-y: auto;
      }

      .card-badge-item {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        cursor: pointer;
        padding: 5px;
      }
      .card-description {
        margin: 20px 0;
        min-height: 100px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 20px 10px;
        position: relative;

        .pencil-icon {
          position: absolute;
          top: 0;
          left: 0;
          color: $color-primary-light;
          font-size: 12px;
          padding: 3px;
          background-color: $color-bg-primary-light;
          cursor: pointer;
        }
      }
    }
  }
}
