$color-primary-light: #053b50;
$color-secondary-light: #176b87;
$color-bg-primary-light: #eeeeee;
$color-bg-secondary-light: #64ccc5;

$color-primary-dark: #a5d7e8;
$color-secondary-dark: #576cbc;
$color-bg-primary-dark: #0b2447;
$color-bg-secondary-dark: #19376d;

.Card {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  padding: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: grab;

  &:hover {
    .icon-div {
      visibility: visible;
    }
  }

  .icon-div {
    right: 20px;
    top: 20px;
    display: flex;
    gap: px;
    visibility: hidden;

    .icon {
      font-size: 12px !important;
      color: $color-primary-light !important;
      display: block;
      cursor: pointer;
    }
    .pencil-icon {
      display: none;
    }
  }

  &:hover {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

    .pencil-icon {
      display: block;
    }
  }

  p,
  h5 {
    margin: 0%;
  }

  .card-content,
  .card-header {
    display: flex;
    justify-content: space-between;
  }
}
