.Badge {
  padding: 30px;

  .create-badge {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 20px;

    .create-badge-color {
      margin: 10px 0;
      display: flex;
      gap: 10px;

      .color-box {
        height: 50px;
        width: 50px;
      }
    }
  }

  .badge-container {
    display: flex;
    margin: 50px 0;
    gap: 10px;
    flex-wrap: wrap;

    .badge {
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

      width: 300px;
      padding: 5px 10px;
      position: relative;
      height: 50px;

      h5 {
        margin: 10px;
        font-size: 20px;
        text-align: center;
        color: white;
      }

      .icon-pencil {
        position: absolute;
        top: 3px;
        left: 3px;
        cursor: pointer;
        color: white;
      }
    }

    .color-picker {
      position: fixed;
    }
  }
}
